@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #121F45 !important;
  z-index: -1; 
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/login.png') center center/cover no-repeat;
  opacity: 0.5;
  z-index: -1; 
  transition: opacity 0.5s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 0; /* Ensure it's above the background */
  transition: background-color 0.5s ease-in-out;
}

.login-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: padding 0.3s ease-in-out;
}

.login-wrapper-left,
.login-wrapper-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-side {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  transition: padding 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.left-side h1 {
  font-family: 'Days One';
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

.left-side p {
  font-family: 'Inter';
  font-style: italic;
  color: #D9D9D9;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.login-box {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.login-box:hover {
  background: linear-gradient(135deg, #c3cfe2, #f5f7fa);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
  color: #FF6C00;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

.login-box label {
  border-color: #929292;
  margin-bottom: 5px;
  color: #929292;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-size: small;
}

.login-box input {
  margin-bottom: 25px;
  padding: 10px;
  background-color: #e3e3e3;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.login-box input:focus {
  background-color: #ffffff;
  border: 1px solid #FF6C00;
}

.login-box input:focus-within {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.login-box span {
  text-align: center;
  padding-top: 10px;
  color: red;
}

.registerhere {
  font-family: 'Inter';
  color: hsl(0, 0%, 57%);
  margin: 20px;
  margin-bottom: 10px;
}

.register-link {
  color: #FF6C00;
  transition: color 0.3s ease-in-out;
}

.register-link:hover {
  color: #FF4500;
}

.register-text {
  text-align: left;
}

button {
  font-family: 'Inter';
  padding: 10px 20px;
  background-color: #FF6C00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #FF4500;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.90);
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .login-wrapper {
    flex-direction: column;
    padding: 10px;
  }

  .left-side {
    padding: 20px;
    margin-bottom: 30px;
  }

  .login-box {
    margin-top: 30px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
